# ─────────────────────────────────
# Data — managed by DVC not Git
# ─────────────────────────────────
data/raw/
data/processed/
data/features/

# ─────────────────────────────────
# Models — managed by DVC
# ─────────────────────────────────
models/

# ──────────────────────────────────
# Python cache
# ─────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ─────────────────────────────────
# Virtual environments
# ─────────────────────────────────
venv/
env/
.env
*.egg-info/

# ─────────────────────────────────
# Jupyter
# ─────────────────────────────────
.ipynb_checkpoints/
*.ipynb

# ─────────────────────────────────
# OS files
# ─────────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────────
# IDEs
# ─────────────────────────────────
.vscode/
.idea/
logs/
